#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .info {
        width: 60%;

        bold {
            background: linear-gradient(90deg, #0033cc, #3367d1, #00aaff, #00ccff); /* Enhanced blue gradient */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        h1 {
            font-size: 6rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        p {
            font-size: 2rem;
            position: relative;
            max-width: 100%;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            button {
                cursor: pointer;
                background-color: white;
                border-radius: 100px;
                font-size: 1.5rem;
                width: 12rem;
                height: 4rem;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.2);
                }
            }

            img {
                height: 100px;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }

    @media (max-width: 1560px) {
        .info {
            width: 80%;
        }
    }

    @media (max-width: 1166px) {
        .info {
            width: 90%;

            h1 {
                font-size: 4rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }

    @media (max-width: 561px) {
        .info {
            margin-bottom: 10rem;
        }
    }

    @media (max-width: 425px) {
        .info {
            h1 {
                font-size: 4rem;
            }
            p {
                font-size: 1.2rem;
            }

            .buttons {
                flex-direction: column;
                align-items: center;

                button {
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    @media (max-width: 333px) {
        .info {
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }

    @media (max-height: 650px) {
        margin-bottom: 10rem;
    }
}