#projects {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;

    .projects {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        
        .project {
            background-size: cover;
            background-position: center;
            cursor: pointer;
            padding: 2rem;
            color: white;
            text-decoration: none;
            height: 35rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            box-sizing: border-box;
            position: relative;
            transition: transform 0.3s ease;
            
            .info {
                z-index: 2;
                opacity: 0;
                transition: opacity 0.3s ease;

                h3 {
                    font-size: 2.5rem;
                    margin: 0;
                }
                
                p {
                    font-size: 1.5rem;
                }
                
                small {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                opacity: 0;
                transition: opacity 0.3s ease;
                z-index: 1;
            }
    
            &:hover::before {
                opacity: 1;
            }

            &:hover .info {
                opacity: 1;
            }

            &:hover {
                transform: translateY(-10px);
            }
        }
    }

    @media (max-width: 1440px) {
        .projects {
            .project {
                height: 25rem;
            }
        }
    }

    @media (max-width: 1024px) {
        .projects {
            .project {
                height: 20rem;
                .info {
                    h3 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                    small {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .projects {
            grid-template-columns: 1fr;
            .project {
                height: 30rem;
            }
        }
    }

    @media (max-width: 582px) {
        .projects {
            margin-top: 10rem;
        }
    }

    @media (max-width: 425px) {
        .projects {
            .project {
                height: 15rem;
                .info {
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 0.8rem;
                    }
                    small {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    @media (max-width: 320px) {
        .projects {
            .project {
                height: 12rem;
                .info {
                    h3 {
                        font-size: 1.2rem;
                    }
                    p {
                        font-size: 0.5rem;
                    }
                    small {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}